/*index*/
.Paiu{
    color: brown;
    background-color: #ede62921;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.h1,.h2{
    background-color: blueviolet;
}


.ul,.Paiu{
    color: rgb(150, 221, 28);
}


/*fotos*/



/* Colores de párgina:
